<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
        <img class="white-icon" width="45" src="./assets/icons/menu.svg"/>
    </button>
    <a href="/">
        <img width="70" src="./assets/icons/logo-simple.svg" alt="Logo JaqueMate">
    </a>
    <a href="" class="cart-btn">
      <span *ngIf="myCart.length > 0" class="cart-label">{{myCart.length}}</span>
      <img class="white-icon" width="45" src="./assets/icons/cart.svg"/>
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button class="close-btn" (click)="toggleMenu()">
      <img width="50" src="./assets/icons/close.svg" alt="cerrar menú" />
    </button>
    <ul>
      <li><a href="">Tablero</a></li>
      <li><a href="">Cartas</a></li>
      <li><a href="">Otros</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img width="320" src="./assets/icons/logo.svg" alt="Logo JaqueMate">
      </a>
      <ul>
        <li><a href="">Tablero</a></li>
        <li><a href="">Cartas</a></li>
        <li><a href="">Otros</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!createdUser" (click)="createUser()">Crear Usuario</button>
        <button *ngIf="!profile.name; else elseBlock" (click)="login()">Login</button>
        <ng-template #elseBlock>{{ profile?.email }}</ng-template>
      </div>
      <div>
        <a href="" class="cart-btn">
          <span *ngIf="myCart.length" class="cart-label">{{myCart.length}}</span>
          <img width="50" src="./assets/icons/cart.svg"/>
        </a>
      </div>
    </div>
  </div>
</div>
